In [38]:
import pandas as pd
import matplotlib.pyplot as plot
import numpy as np
import sklearn as sk
from sklearn import ensemble
from sklearn import model_selection
from sklearn import metrics

In [2]:
df = pd.read_csv('Shakespeare_data.csv')

In [3]:
df.head(10)

,Dataline,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine
0,1,Henry IV,NaN,NaN,NaN,ACT I
1,2,Henry IV,NaN,NaN,NaN,SCENE I. London. The palace.
2,3,Henry IV,NaN,NaN,NaN,"Enter KING HENRY, LORD JOHN OF LANCASTER, the ..."
3,4,Henry IV,1.0,1.1.1,KING HENRY IV,"So shaken as we are, so wan with care,"
4,5,Henry IV,1.0,1.1.2,KING HENRY IV,"Find we a time for frighted peace to pant,"
5,6,Henry IV,1.0,1.1.3,KING HENRY IV,And breathe short-winded accents of new broils
6,7,Henry IV,1.0,1.1.4,KING HENRY IV,To be commenced in strands afar remote.
7,8,Henry IV,1.0,1.1.5,KING HENRY IV,No more the thirsty entrance of this soil
8,9,Henry IV,1.0,1.1.6,KING HENRY IV,Shall daub her lips with her own children's bl...
9,10,Henry IV,1.0,1.1.7,KING HENRY IV,"Nor more shall trenching war channel her fields,"

In [4]:
type(df.ActSceneLine.iloc[5])

str

In [5]:
df['ActSceneLine'] = df['ActSceneLine'].str.replace('.', '')
df.ActSceneLine

0           NaN
1           NaN
2           NaN
3           111
4           112
5           113
6           114
7           115
8           116
9           117
10          118
11          119
12         1110
13         1111
14         1112
15         1113
16         1114
17         1115
18         1116
19         1117
20         1118
21         1119
22         1120
23         1121
24         1122
25         1123
26         1124
27         1125
28         1126
29         1127
          ...
111366    53155
111367    53156
111368    53157
111369    53158
111370    53159
111371    53160
111372    53161
111373    53162
111374    53163
111375    53164
111376    53165
111377    53166
111378    53167
111379    53168
111380    53169
111381    53170
111382    53171
111383    53172
111384    53173
111385    53174
111386    53175
111387    53176
111388    53177
111389    53178
111390    53179
111391    53180
111392    53181
111393    53182
111394    53183
111395      NaN
Name: ActSceneLine, Length: 111396, dtype: object

In [6]:
type(df.ActSceneLine.iloc[5])

str

In [7]:
df.ActSceneLine =df.ActSceneLine.astype('float')

In [8]:
df.head()

,Dataline,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine
0,1,Henry IV,NaN,NaN,NaN,ACT I
1,2,Henry IV,NaN,NaN,NaN,SCENE I. London. The palace.
2,3,Henry IV,NaN,NaN,NaN,"Enter KING HENRY, LORD JOHN OF LANCASTER, the ..."
3,4,Henry IV,1.0,111.0,KING HENRY IV,"So shaken as we are, so wan with care,"
4,5,Henry IV,1.0,112.0,KING HENRY IV,"Find we a time for frighted peace to pant,"

In [9]:
type(df.ActSceneLine.iloc[5])

numpy.float64

In [10]:
type(df.Dataline.iloc[5])

numpy.int64

In [11]:
df['PlayerNum'] = pd.factorize(df.Player)[0]

In [12]:
df.PlayerNum.unique()

array([ -1,   0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,
        12,  13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,
        25,  26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,
        38,  39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,
        51,  52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,
        64,  65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,
        77,  78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,
        90,  91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102,
       103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115,
       116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128,
       129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141,
       142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154,
       155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167,
       168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180,
       181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193,
       194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206,
       207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219,
       220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232,
       233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245,
       246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258,
       259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271,
       272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284,
       285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297,
       298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310,
       311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323,
       324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336,
       337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349,
       350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362,
       363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375,
       376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388,
       389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401,
       402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414,
       415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427,
       428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440,
       441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453,
       454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466,
       467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479,
       480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492,
       493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505,
       506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518,
       519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531,
       532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544,
       545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557,
       558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570,
       571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583,
       584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596,
       597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609,
       610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622,
       623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635,
       636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648,
       649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661,
       662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674,
       675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687,
       688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700,
       701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713,
       714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726,
       727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739,
       740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752,
       753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765,
       766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778,
       779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791,
       792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804,
       805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817,
       818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830,
       831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843,
       844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856,
       857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869,
       870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882,
       883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895,
       896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908,
       909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921,
       922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933],
      dtype=int64)

In [13]:
df['PlayNum'] = pd.factorize(df.Play)[0]

In [14]:
df.head()

,Dataline,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine,PlayerNum,PlayNum
0,1,Henry IV,NaN,NaN,NaN,ACT I,-1,0
1,2,Henry IV,NaN,NaN,NaN,SCENE I. London. The palace.,-1,0
2,3,Henry IV,NaN,NaN,NaN,"Enter KING HENRY, LORD JOHN OF LANCASTER, the ...",-1,0
3,4,Henry IV,1.0,111.0,KING HENRY IV,"So shaken as we are, so wan with care,",0,0
4,5,Henry IV,1.0,112.0,KING HENRY IV,"Find we a time for frighted peace to pant,",0,0

In [15]:
#I will be dropping some of the now-encoded categories i.e. play and playnum

In [16]:
df1 = df.copy()

In [17]:
df.drop('Play', axis = 1, inplace = True)

In [18]:
df.drop('Player', axis = 1, inplace = True)

In [19]:
df.drop('PlayerLine', axis = 1, inplace = True)

In [20]:
df.head()

   Dataline  PlayerLinenumber  ActSceneLine  PlayerNum  PlayNum
0         1               NaN           NaN         -1        0
1         2               NaN           NaN         -1        0
2         3               NaN           NaN         -1        0
3         4               1.0         111.0          0        0
4         5               1.0         112.0          0        0

In [21]:
clf = ensemble.RandomForestClassifier(n_estimators = 100)

In [22]:
df.dropna(inplace= True)

In [23]:
x = df.copy()

In [24]:
y = df.PlayerNum

In [25]:
x.drop('PlayerNum', axis = 1, inplace = True)

In [26]:
x_train, x_test, y_train, y_test = model_selection.train_test_split(x, y, test_size = .2)

In [27]:
model = clf.fit(x_train, y_train)

In [28]:
model

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [30]:
t = model.predict(x_test)

In [40]:
print(metrics.accuracy_score(y_test, t))

0.7856973039798393

In [45]:
prediciton = pd.DataFrame(t)

In [47]:
prediciton.head(20)

      0
0   447
1   154
2   629
3    65
4   561
5   474
6   474
7   197
8   824
9   648
10  714
11   37
12  512
13  515
14    2
15  232
16  335
17  376
18  788
19  474